.navigation {
    display: none;
    width: clamp(150px, 20vw, 300px);
    background-color: antiquewhite;
    padding: 10px;
    justify-items: left;
    height: 100vh;
    z-index: 1;
    position: fixed;
}

.navigation nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: clamp(16px, 2.5vw, 32px);
    display: block; /* Ensures the entire area is clickable */
    padding: 10px; /* Moved from .navigation nav for consistent spacing */
    transition: all 0.3s ease-in-out; /* Moved hover transition to the link */
}

.navigation a:hover {
    transform: translateX(10px); /* Moved from .navigation nav:hover */
    background-color: #f0f0f0de; /* Moved from .navigation nav:hover */
    color: #0032d4; /* Moved from .navigation nav:hover */
}

.active-page {
    padding: 0 0 0 10px;
    font-weight: bold;
}