
header {
    display: flex;
    background-color: pink;
    height: 75px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.home-btn, .bell-btn, .profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

.bell, .profile {
    display: flex;
    background: transparent ;
    justify-content: center;
    align-items: center;
}

@keyframes swing {
    0% { transform: rotate(15deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}

.swinging{
    animation: swing 2s;
}

.profile-text {
    font-size: 24px;
    margin-left: 10px;
}