.navigation {    
    width: clamp(100px, 4vw, 200px);
    max-width: 200px;
    flex: 1;
    background-color: antiquewhite;
    padding: 10px;
    justify-items: left;
    height: 100vh;
}

.navigation ul {
    padding: 0px;
    margin: 0px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: clamp(16px, 3vw, 32px);
}

.navigation nav {
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.navigation nav:hover {
    transform: translateX(10px);
    background-color: #f0f0f0de; 
    color: #0032d4;
}

.active-page {
    padding: 0 0 0 10px;
    font-weight: bold;
}