.navigation {   
    display: none; 
    width: clamp(100px, 15vw, 300px);
    max-width: 200px;
    background-color: antiquewhite;
    padding: 10px;
    justify-items: left;
    height: 100vh;
    z-index: 1;
    position: fixed;
}

nav ul {
    list-style: none;
}

.navigation ul {
    padding: 0px;
    margin: 0px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: clamp(16px, 2.5vw, 32px);
}

.navigation nav {
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.navigation nav:hover {
    transform: translateX(10px);
    background-color: #f0f0f0de; 
    color: #0032d4;
}

.active-page {
    padding: 0 0 0 10px;
    font-weight: bold;
}